/* COLOR */
:root {
  --color: var()
}


/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  padding: 0 25px;
  font-family: arial, sans-serif;
  background: radial-gradient(black 15%, transparent 0%) 0px 0px, radial-gradient(black 15%, transparent 0%) 8px 8px, radial-gradient(#4D4D4D 15%, transparent 0%) 1px 1px, radial-gradient(#4D4D4D 15%, transparent 0%) 9px 9px;
  background-color: #262626;
  background-size: 16px 16px;
}

#main, #chats {
  width: 80vw;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "chatterbox form"
  "chatterbox rooms";
}

#main #h1 {
  margin: auto;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  grid-area: chatterbox;
}

/* #main h1 span {
  font-style:italic;
} */

/* #main ul {
  padding-left: 20px;
} */

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

.spinner {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}


/* FORM */

form {
  margin: 0;
  padding: 0;
  grid-area: form;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}


/* ADD ROOMS */

.rooms {
  grid-area: rooma;
}


/* POSTS */

.postDiv {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.postDiv:hover {
  background-color: #ddd;
}

.username {
  font-weight: 800;
  overflow-wrap: break-word;
}

.text {
  overflow-wrap: break-word;
}


/* FRIEND */

.friend {
  color: #fff;
  background-color: #0090da;
}

